@import "../../variables";

.weatherApp {
  overflow: hidden;
  height: 100vh;
  background-color: $bgColor;

  @media (max-width: $md3+px) {
    background-color: $mobileBgColor;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 75px 0 120px;
    min-height: 100vh;

    @media (max-width: $md3+px) {
      padding: 20px 0 40px;
    }
  }

  &__details {
    flex: 0 0 auto;
  }
}