@import "../../variables";

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto;
  margin-bottom: 50px;
  padding-left: 20px;

  @media (max-width: $md2+px) {
    margin: 30px 0 40px 0px;
  }

  @media (max-width: $md3+px) {
    padding-left: 4px;
    margin: 30px 0 80px 0px;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 12px;
    width: 140px;
    height: 140px;

    @media (max-width: $md2+px) {
      width: 120px;
      height: 120px;
    }

    @media (max-width: $md3+px) {
      margin-top: 30px;
      width: 90px;
      height: 90px;
    }
  }

  &__temperature {
    position: relative;
    font-size: 180px;
    color: $accentColor;

    @media (max-width: $md2+px) {
      font-size: 120px;
    }

    @media (max-width: $md3+px) {
      font-size: 90px;
      font-weight: 300;
      padding-left: 10px;
    }

    &::after {
      content: "º";
      font-size: 180px;

      @media (max-width: $md2+px) {
        font-size: 120px;
      }

      @media (max-width: $md3+px) {
        font-size: 90px;
      }
    }
  }

  &__desc {
    margin-top: 5px;
    padding-left: 2px;
    font-family: $fontFamily;
    font-size: 25px;
    color: $accentColor;

    @media (max-width: $md3+px) {
      font-size: 18px;
    }
  }
}