@import "../../variables";

.weather {

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }

  &__icon {
    margin-right: 12px;
    width: 140px;
    height: 140px;
  }

  &__temperature {
    position: relative;
    font-size: 180px;
    color: $accentColor;

    &::after {
      content: "º";
      font-size: 180px;
    }
  }

  &__desc {
    padding-left: 2px;
    font-family: $fontFamily;
    font-size: 25px;
    color: $accentColor;
  }
}