@import "../../variables";

.switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
  padding-left: 17px;

  &::before {
    content: "º";
    position: absolute;
    left: 0;
    font-size: 18px;
  }

  button {
    padding: 2px 14px 2px 13px;
    font-family: $fontFamily;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__celsius {
    color: $mainColor;
    background-color: transparent;
    border: 1px solid rgba($accentColor, 0.4);
    border-right: none;
    border-radius: 8px 0 0 8px;
  }

  &__fahrenheit {
    color: $mainColor;
    background-color: transparent;
    border: 1px solid rgba($accentColor, 0.4);
    border-left: none;
    border-radius: 0 8px 8px 0;
  }
}

.active {
  color: $accentColor;
  background-color: $accentBgColor;
}